/* FOOTER */
.site-footer {
  padding-top: 56px;
  padding-bottom: 40px;
  background-color: #F8F8F8;
}

.site-footer__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 1100px;
    height: 2px;
    left: 0;
    top: 100px;
    background-color: rgba(37, 36, 32, 0.5);
  }
}

.site-footer__list {
  @include list-unstyled;
}

.site-footer__icon {
  text-decoration: none;
  transition: 0.3  ease;
  margin-left: 16px;

  &:hover {
    fill: $btn-color;
  }

  &:active {
    opacity: 0.6;
  }
}

.site-footer__desc {
  margin-top: 110px;
  padding-bottom: 54px;
  display: flex;
  justify-content: space-between;
}

.site-footer__item {
  display: flex;
  flex-direction: column;
}

.site-footer__link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $primary-color;
  margin-bottom: 16px;
}

.site-footer__link:hover{
  color: $btn-color;
}